<div class="panel status">
  <div class="panel-body">
    <h3>Update email or password</h3>
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :role => 'form'}) do |f| %>
        <div class="form-group">
          <%= f.input :email %>
        </div>
        <fieldset>
          <p>Leave these fields blank if you don't want to change your password.</p>
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
        </fieldset>
        <fieldset>
          <p>You must enter your current password to make changes.</p>
          <%= f.input :current_password %>
        </fieldset>
        <%= f.submit 'Update', :class => 'btn right' %>
    <% end %>
  </div>
</div>

<div class="panel status">
  <div class="panel-body">
    <h3>Cancel Account</h3>
    <p>Unhappy? We'll be sad to see you go.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete, :class => 'btn right' %>
  </div>
</div>
</div>

